<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>A</key>
      <integer>22</integer>
      <key>C</key>
      <integer>-22</integer>
      <key>G</key>
      <integer>-22</integer>
      <key>O</key>
      <integer>-22</integer>
      <key>Q</key>
      <integer>-22</integer>
      <key>T</key>
      <integer>-52</integer>
      <key>V</key>
      <integer>-75</integer>
      <key>W</key>
      <integer>-75</integer>
      <key>Y</key>
      <integer>-52</integer>
      <key>u</key>
      <integer>-15</integer>
      <key>v</key>
      <integer>-38</integer>
      <key>w</key>
      <integer>-38</integer>
      <key>x</key>
      <integer>38</integer>
      <key>y</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>38</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>X</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-11</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>X</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-11</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>A</key>
      <integer>-22</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-22</integer>
      <key>seven</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>11</integer>
      <key>w</key>
      <integer>11</integer>
      <key>y</key>
      <integer>11</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-22</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>e</key>
      <integer>-22</integer>
      <key>g</key>
      <integer>-22</integer>
      <key>m</key>
      <integer>-15</integer>
      <key>n</key>
      <integer>-15</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>p</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>r</key>
      <integer>-15</integer>
      <key>s</key>
      <integer>-22</integer>
      <key>seven</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-15</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>A</key>
      <integer>-22</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-22</integer>
      <key>seven</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>11</integer>
      <key>w</key>
      <integer>11</integer>
      <key>y</key>
      <integer>11</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>J</key>
      <integer>45</integer>
      <key>j</key>
      <integer>45</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>C</key>
      <integer>-38</integer>
      <key>G</key>
      <integer>-38</integer>
      <key>O</key>
      <integer>-38</integer>
      <key>Q</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>22</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>22</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>e</key>
      <integer>-22</integer>
      <key>g</key>
      <integer>-22</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>-38</integer>
      <key>w</key>
      <integer>-38</integer>
      <key>x</key>
      <integer>11</integer>
      <key>y</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>11</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>22</integer>
      <key>C</key>
      <integer>-22</integer>
      <key>G</key>
      <integer>-22</integer>
      <key>O</key>
      <integer>-22</integer>
      <key>Q</key>
      <integer>-22</integer>
      <key>T</key>
      <integer>-52</integer>
      <key>V</key>
      <integer>-75</integer>
      <key>W</key>
      <integer>-75</integer>
      <key>Y</key>
      <integer>-52</integer>
      <key>u</key>
      <integer>-15</integer>
      <key>v</key>
      <integer>-38</integer>
      <key>w</key>
      <integer>-38</integer>
      <key>x</key>
      <integer>38</integer>
      <key>y</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>38</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-22</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-22</integer>
      <key>seven</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>11</integer>
      <key>w</key>
      <integer>11</integer>
      <key>y</key>
      <integer>11</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-22</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>e</key>
      <integer>-22</integer>
      <key>g</key>
      <integer>-22</integer>
      <key>m</key>
      <integer>-15</integer>
      <key>n</key>
      <integer>-15</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>p</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>r</key>
      <integer>-15</integer>
      <key>s</key>
      <integer>-22</integer>
      <key>seven</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-15</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
      <key>C</key>
      <integer>-38</integer>
      <key>G</key>
      <integer>-38</integer>
      <key>O</key>
      <integer>-38</integer>
      <key>Q</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>22</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>X</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>22</integer>
      <key>Z</key>
      <integer>22</integer>
      <key>c</key>
      <integer>-75</integer>
      <key>e</key>
      <integer>-75</integer>
      <key>g</key>
      <integer>-75</integer>
      <key>m</key>
      <integer>-60</integer>
      <key>n</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-75</integer>
      <key>p</key>
      <integer>-60</integer>
      <key>q</key>
      <integer>-75</integer>
      <key>r</key>
      <integer>-60</integer>
      <key>s</key>
      <integer>-75</integer>
      <key>seven</key>
      <integer>22</integer>
      <key>u</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>-22</integer>
      <key>w</key>
      <integer>-22</integer>
      <key>x</key>
      <integer>-22</integer>
      <key>y</key>
      <integer>-22</integer>
      <key>z</key>
      <integer>-22</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
      <key>C</key>
      <integer>-11</integer>
      <key>G</key>
      <integer>-11</integer>
      <key>O</key>
      <integer>-11</integer>
      <key>Q</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>30</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>m</key>
      <integer>-52</integer>
      <key>n</key>
      <integer>-52</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>p</key>
      <integer>-52</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-52</integer>
      <key>s</key>
      <integer>-75</integer>
      <key>u</key>
      <integer>-52</integer>
      <key>x</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>-38</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
      <key>C</key>
      <integer>-11</integer>
      <key>G</key>
      <integer>-11</integer>
      <key>O</key>
      <integer>-11</integer>
      <key>Q</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>30</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>m</key>
      <integer>-52</integer>
      <key>n</key>
      <integer>-52</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>p</key>
      <integer>-52</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-52</integer>
      <key>s</key>
      <integer>-75</integer>
      <key>u</key>
      <integer>-52</integer>
      <key>x</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>-38</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>C</key>
      <integer>-38</integer>
      <key>G</key>
      <integer>-38</integer>
      <key>O</key>
      <integer>-38</integer>
      <key>Q</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>22</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>22</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>e</key>
      <integer>-22</integer>
      <key>g</key>
      <integer>-22</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>-38</integer>
      <key>w</key>
      <integer>-38</integer>
      <key>x</key>
      <integer>11</integer>
      <key>y</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>11</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
      <key>C</key>
      <integer>-38</integer>
      <key>G</key>
      <integer>-38</integer>
      <key>O</key>
      <integer>-38</integer>
      <key>Q</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>22</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>X</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>22</integer>
      <key>Z</key>
      <integer>22</integer>
      <key>c</key>
      <integer>-75</integer>
      <key>e</key>
      <integer>-75</integer>
      <key>g</key>
      <integer>-75</integer>
      <key>m</key>
      <integer>-60</integer>
      <key>n</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-75</integer>
      <key>p</key>
      <integer>-60</integer>
      <key>q</key>
      <integer>-75</integer>
      <key>r</key>
      <integer>-60</integer>
      <key>s</key>
      <integer>-75</integer>
      <key>seven</key>
      <integer>22</integer>
      <key>u</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>-22</integer>
      <key>w</key>
      <integer>-22</integer>
      <key>x</key>
      <integer>-22</integer>
      <key>y</key>
      <integer>-22</integer>
      <key>z</key>
      <integer>-22</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>C</key>
      <integer>-38</integer>
      <key>G</key>
      <integer>-38</integer>
      <key>O</key>
      <integer>-38</integer>
      <key>Q</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>22</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>22</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>e</key>
      <integer>-22</integer>
      <key>g</key>
      <integer>-22</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>-38</integer>
      <key>w</key>
      <integer>-38</integer>
      <key>x</key>
      <integer>11</integer>
      <key>y</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>11</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>A</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>-75</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>W</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-75</integer>
      <key>v</key>
      <integer>-11</integer>
      <key>w</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-11</integer>
      <key>y</key>
      <integer>-11</integer>
      <key>z</key>
      <integer>-11</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-38</integer>
      <key>W</key>
      <integer>-38</integer>
      <key>Y</key>
      <integer>-60</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>A</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>-75</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>W</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-75</integer>
      <key>v</key>
      <integer>-11</integer>
      <key>w</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-11</integer>
      <key>y</key>
      <integer>-11</integer>
      <key>z</key>
      <integer>-11</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>A</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>X</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-11</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>J</key>
      <integer>45</integer>
      <key>T</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-38</integer>
      <key>W</key>
      <integer>-38</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>j</key>
      <integer>45</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>J</key>
      <integer>45</integer>
      <key>j</key>
      <integer>45</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>A</key>
      <integer>22</integer>
      <key>T</key>
      <integer>-11</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-11</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>u</key>
      <integer>-8</integer>
      <key>v</key>
      <integer>11</integer>
      <key>w</key>
      <integer>11</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>11</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>A</key>
      <integer>-52</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-22</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>e</key>
      <integer>-22</integer>
      <key>g</key>
      <integer>-22</integer>
      <key>m</key>
      <integer>-15</integer>
      <key>n</key>
      <integer>-15</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>p</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>r</key>
      <integer>-15</integer>
      <key>s</key>
      <integer>-22</integer>
      <key>seven</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-15</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>A</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>-75</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>W</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-75</integer>
      <key>v</key>
      <integer>-11</integer>
      <key>w</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-11</integer>
      <key>y</key>
      <integer>-11</integer>
      <key>z</key>
      <integer>-11</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>A</key>
      <integer>-38</integer>
      <key>T</key>
      <integer>-75</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>W</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-75</integer>
      <key>v</key>
      <integer>-11</integer>
      <key>w</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-11</integer>
      <key>y</key>
      <integer>-11</integer>
      <key>z</key>
      <integer>-11</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>J</key>
      <integer>45</integer>
      <key>T</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-38</integer>
      <key>W</key>
      <integer>-38</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>j</key>
      <integer>45</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>C</key>
      <integer>11</integer>
      <key>G</key>
      <integer>11</integer>
      <key>O</key>
      <integer>11</integer>
      <key>Q</key>
      <integer>11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>22</integer>
      <key>w</key>
      <integer>22</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>22</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
      <key>C</key>
      <integer>-11</integer>
      <key>G</key>
      <integer>-11</integer>
      <key>O</key>
      <integer>-11</integer>
      <key>Q</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>30</integer>
      <key>V</key>
      <integer>22</integer>
      <key>W</key>
      <integer>22</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>m</key>
      <integer>-52</integer>
      <key>n</key>
      <integer>-52</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>p</key>
      <integer>-52</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-52</integer>
      <key>s</key>
      <integer>-75</integer>
      <key>u</key>
      <integer>-52</integer>
      <key>x</key>
      <integer>-38</integer>
      <key>z</key>
      <integer>-38</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>A</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>X</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-11</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-38</integer>
      <key>W</key>
      <integer>-38</integer>
      <key>Y</key>
      <integer>-60</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>C</key>
      <integer>11</integer>
      <key>G</key>
      <integer>11</integer>
      <key>O</key>
      <integer>11</integer>
      <key>Q</key>
      <integer>11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>22</integer>
      <key>w</key>
      <integer>22</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>22</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>C</key>
      <integer>11</integer>
      <key>G</key>
      <integer>11</integer>
      <key>O</key>
      <integer>11</integer>
      <key>Q</key>
      <integer>11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>22</integer>
      <key>w</key>
      <integer>22</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>22</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>A</key>
      <integer>22</integer>
      <key>T</key>
      <integer>-11</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-11</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>u</key>
      <integer>-8</integer>
      <key>v</key>
      <integer>11</integer>
      <key>w</key>
      <integer>11</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>11</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>C</key>
      <integer>11</integer>
      <key>G</key>
      <integer>11</integer>
      <key>O</key>
      <integer>11</integer>
      <key>Q</key>
      <integer>11</integer>
      <key>T</key>
      <integer>-22</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-22</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-22</integer>
      <key>Z</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>seven</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>22</integer>
      <key>w</key>
      <integer>22</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>22</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>A</key>
      <integer>22</integer>
      <key>T</key>
      <integer>-11</integer>
      <key>V</key>
      <integer>-11</integer>
      <key>W</key>
      <integer>-11</integer>
      <key>Y</key>
      <integer>-11</integer>
      <key>c</key>
      <integer>-11</integer>
      <key>e</key>
      <integer>-11</integer>
      <key>g</key>
      <integer>-11</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>q</key>
      <integer>-11</integer>
      <key>u</key>
      <integer>-8</integer>
      <key>v</key>
      <integer>11</integer>
      <key>w</key>
      <integer>11</integer>
      <key>x</key>
      <integer>22</integer>
      <key>y</key>
      <integer>11</integer>
      <key>z</key>
      <integer>22</integer>
    </dict>
  </dict>
</plist>
