<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0020</key>
    <string>uni0020.glif</string>
    <key>uni0021</key>
    <string>uni0021.glif</string>
    <key>uni0022</key>
    <string>uni0022.glif</string>
    <key>uni0023</key>
    <string>uni0023.glif</string>
    <key>uni0025</key>
    <string>uni0025.glif</string>
    <key>uni0026</key>
    <string>uni0026.glif</string>
    <key>uni0027</key>
    <string>uni0027.glif</string>
    <key>uni0028</key>
    <string>uni0028.glif</string>
    <key>uni0029</key>
    <string>uni0029.glif</string>
    <key>uni002A</key>
    <string>uni002A_.glif</string>
    <key>uni002B</key>
    <string>uni002B_.glif</string>
    <key>uni002C</key>
    <string>uni002C_.glif</string>
    <key>uni002D</key>
    <string>uni002D_.glif</string>
    <key>uni002E</key>
    <string>uni002E_.glif</string>
    <key>uni002F</key>
    <string>uni002F_.glif</string>
    <key>uni0030</key>
    <string>uni0030.glif</string>
    <key>uni0030.prop</key>
    <string>uni0030.prop.glif</string>
    <key>uni0031</key>
    <string>uni0031.glif</string>
    <key>uni0031.prop</key>
    <string>uni0031.prop.glif</string>
    <key>uni0032</key>
    <string>uni0032.glif</string>
    <key>uni0032.prop</key>
    <string>uni0032.prop.glif</string>
    <key>uni0033</key>
    <string>uni0033.glif</string>
    <key>uni0033.prop</key>
    <string>uni0033.prop.glif</string>
    <key>uni0034</key>
    <string>uni0034.glif</string>
    <key>uni0034.prop</key>
    <string>uni0034.prop.glif</string>
    <key>uni0035</key>
    <string>uni0035.glif</string>
    <key>uni0035.prop</key>
    <string>uni0035.prop.glif</string>
    <key>uni0036</key>
    <string>uni0036.glif</string>
    <key>uni0036.prop</key>
    <string>uni0036.prop.glif</string>
    <key>uni0037</key>
    <string>uni0037.glif</string>
    <key>uni0037.prop</key>
    <string>uni0037.prop.glif</string>
    <key>uni0038</key>
    <string>uni0038.glif</string>
    <key>uni0038.prop</key>
    <string>uni0038.prop.glif</string>
    <key>uni0039</key>
    <string>uni0039.glif</string>
    <key>uni0039.prop</key>
    <string>uni0039.prop.glif</string>
    <key>uni003A</key>
    <string>uni003A_.glif</string>
    <key>uni003B</key>
    <string>uni003B_.glif</string>
    <key>uni003D</key>
    <string>uni003D_.glif</string>
    <key>uni003F</key>
    <string>uni003F_.glif</string>
    <key>uni0040</key>
    <string>uni0040.glif</string>
    <key>uni0041</key>
    <string>uni0041.glif</string>
    <key>uni0042</key>
    <string>uni0042.glif</string>
    <key>uni0043</key>
    <string>uni0043.glif</string>
    <key>uni0044</key>
    <string>uni0044.glif</string>
    <key>uni0045</key>
    <string>uni0045.glif</string>
    <key>uni0046</key>
    <string>uni0046.glif</string>
    <key>uni0047</key>
    <string>uni0047.glif</string>
    <key>uni0048</key>
    <string>uni0048.glif</string>
    <key>uni0049</key>
    <string>uni0049.glif</string>
    <key>uni004A</key>
    <string>uni004A_.glif</string>
    <key>uni004B</key>
    <string>uni004B_.glif</string>
    <key>uni004C</key>
    <string>uni004C_.glif</string>
    <key>uni004D</key>
    <string>uni004D_.glif</string>
    <key>uni004E</key>
    <string>uni004E_.glif</string>
    <key>uni004F</key>
    <string>uni004F_.glif</string>
    <key>uni0050</key>
    <string>uni0050.glif</string>
    <key>uni0051</key>
    <string>uni0051.glif</string>
    <key>uni0052</key>
    <string>uni0052.glif</string>
    <key>uni0053</key>
    <string>uni0053.glif</string>
    <key>uni0054</key>
    <string>uni0054.glif</string>
    <key>uni0055</key>
    <string>uni0055.glif</string>
    <key>uni0056</key>
    <string>uni0056.glif</string>
    <key>uni0057</key>
    <string>uni0057.glif</string>
    <key>uni0058</key>
    <string>uni0058.glif</string>
    <key>uni0059</key>
    <string>uni0059.glif</string>
    <key>uni005A</key>
    <string>uni005A_.glif</string>
    <key>uni005B</key>
    <string>uni005B_.glif</string>
    <key>uni005D</key>
    <string>uni005D_.glif</string>
    <key>uni0061</key>
    <string>uni0061.glif</string>
    <key>uni0062</key>
    <string>uni0062.glif</string>
    <key>uni0063</key>
    <string>uni0063.glif</string>
    <key>uni0064</key>
    <string>uni0064.glif</string>
    <key>uni0065</key>
    <string>uni0065.glif</string>
    <key>uni0066</key>
    <string>uni0066.glif</string>
    <key>uni0067</key>
    <string>uni0067.glif</string>
    <key>uni0068</key>
    <string>uni0068.glif</string>
    <key>uni0069</key>
    <string>uni0069.glif</string>
    <key>uni006A</key>
    <string>uni006A_.glif</string>
    <key>uni006B</key>
    <string>uni006B_.glif</string>
    <key>uni006C</key>
    <string>uni006C_.glif</string>
    <key>uni006D</key>
    <string>uni006D_.glif</string>
    <key>uni006E</key>
    <string>uni006E_.glif</string>
    <key>uni006F</key>
    <string>uni006F_.glif</string>
    <key>uni0070</key>
    <string>uni0070.glif</string>
    <key>uni0071</key>
    <string>uni0071.glif</string>
    <key>uni0072</key>
    <string>uni0072.glif</string>
    <key>uni0073</key>
    <string>uni0073.glif</string>
    <key>uni0074</key>
    <string>uni0074.glif</string>
    <key>uni0075</key>
    <string>uni0075.glif</string>
    <key>uni0076</key>
    <string>uni0076.glif</string>
    <key>uni0077</key>
    <string>uni0077.glif</string>
    <key>uni0078</key>
    <string>uni0078.glif</string>
    <key>uni0079</key>
    <string>uni0079.glif</string>
    <key>uni007A</key>
    <string>uni007A_.glif</string>
    <key>uni00A1</key>
    <string>uni00A_1.glif</string>
    <key>uni00B0</key>
    <string>uni00B_0.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>uni00B7</key>
    <string>uni00B_7.glif</string>
    <key>uni00BF</key>
    <string>uni00B_F_.glif</string>
    <key>uni00C0</key>
    <string>uni00C_0.glif</string>
    <key>uni00C1</key>
    <string>uni00C_1.glif</string>
    <key>uni00C2</key>
    <string>uni00C_2.glif</string>
    <key>uni00C3</key>
    <string>uni00C_3.glif</string>
    <key>uni00C4</key>
    <string>uni00C_4.glif</string>
    <key>uni00C5</key>
    <string>uni00C_5.glif</string>
    <key>uni00C6</key>
    <string>uni00C_6.glif</string>
    <key>uni00C7</key>
    <string>uni00C_7.glif</string>
    <key>uni00C8</key>
    <string>uni00C_8.glif</string>
    <key>uni00C9</key>
    <string>uni00C_9.glif</string>
    <key>uni00CA</key>
    <string>uni00C_A_.glif</string>
    <key>uni00CB</key>
    <string>uni00C_B_.glif</string>
    <key>uni00CC</key>
    <string>uni00C_C_.glif</string>
    <key>uni00CD</key>
    <string>uni00C_D_.glif</string>
    <key>uni00CE</key>
    <string>uni00C_E_.glif</string>
    <key>uni00CF</key>
    <string>uni00C_F_.glif</string>
    <key>uni00D0</key>
    <string>uni00D_0.glif</string>
    <key>uni00D1</key>
    <string>uni00D_1.glif</string>
    <key>uni00D2</key>
    <string>uni00D_2.glif</string>
    <key>uni00D3</key>
    <string>uni00D_3.glif</string>
    <key>uni00D4</key>
    <string>uni00D_4.glif</string>
    <key>uni00D5</key>
    <string>uni00D_5.glif</string>
    <key>uni00D6</key>
    <string>uni00D_6.glif</string>
    <key>uni00D8</key>
    <string>uni00D_8.glif</string>
    <key>uni00D9</key>
    <string>uni00D_9.glif</string>
    <key>uni00DA</key>
    <string>uni00D_A_.glif</string>
    <key>uni00DB</key>
    <string>uni00D_B_.glif</string>
    <key>uni00DC</key>
    <string>uni00D_C_.glif</string>
    <key>uni00DD</key>
    <string>uni00D_D_.glif</string>
    <key>uni00DE</key>
    <string>uni00D_E_.glif</string>
    <key>uni00DF</key>
    <string>uni00D_F_.glif</string>
    <key>uni00E0</key>
    <string>uni00E_0.glif</string>
    <key>uni00E1</key>
    <string>uni00E_1.glif</string>
    <key>uni00E2</key>
    <string>uni00E_2.glif</string>
    <key>uni00E3</key>
    <string>uni00E_3.glif</string>
    <key>uni00E4</key>
    <string>uni00E_4.glif</string>
    <key>uni00E5</key>
    <string>uni00E_5.glif</string>
    <key>uni00E6</key>
    <string>uni00E_6.glif</string>
    <key>uni00E7</key>
    <string>uni00E_7.glif</string>
    <key>uni00E8</key>
    <string>uni00E_8.glif</string>
    <key>uni00E9</key>
    <string>uni00E_9.glif</string>
    <key>uni00EA</key>
    <string>uni00E_A_.glif</string>
    <key>uni00EB</key>
    <string>uni00E_B_.glif</string>
    <key>uni00EC</key>
    <string>uni00E_C_.glif</string>
    <key>uni00ED</key>
    <string>uni00E_D_.glif</string>
    <key>uni00EE</key>
    <string>uni00E_E_.glif</string>
    <key>uni00EF</key>
    <string>uni00E_F_.glif</string>
    <key>uni00F0</key>
    <string>uni00F_0.glif</string>
    <key>uni00F1</key>
    <string>uni00F_1.glif</string>
    <key>uni00F2</key>
    <string>uni00F_2.glif</string>
    <key>uni00F3</key>
    <string>uni00F_3.glif</string>
    <key>uni00F4</key>
    <string>uni00F_4.glif</string>
    <key>uni00F5</key>
    <string>uni00F_5.glif</string>
    <key>uni00F6</key>
    <string>uni00F_6.glif</string>
    <key>uni00F8</key>
    <string>uni00F_8.glif</string>
    <key>uni00F9</key>
    <string>uni00F_9.glif</string>
    <key>uni00FA</key>
    <string>uni00F_A_.glif</string>
    <key>uni00FB</key>
    <string>uni00F_B_.glif</string>
    <key>uni00FC</key>
    <string>uni00F_C_.glif</string>
    <key>uni00FD</key>
    <string>uni00F_D_.glif</string>
    <key>uni00FE</key>
    <string>uni00F_E_.glif</string>
    <key>uni00FF</key>
    <string>uni00F_F_.glif</string>
    <key>uni0100</key>
    <string>uni0100.glif</string>
    <key>uni0101</key>
    <string>uni0101.glif</string>
    <key>uni0102</key>
    <string>uni0102.glif</string>
    <key>uni0103</key>
    <string>uni0103.glif</string>
    <key>uni0104</key>
    <string>uni0104.glif</string>
    <key>uni0105</key>
    <string>uni0105.glif</string>
    <key>uni0106</key>
    <string>uni0106.glif</string>
    <key>uni0107</key>
    <string>uni0107.glif</string>
    <key>uni0108</key>
    <string>uni0108.glif</string>
    <key>uni0109</key>
    <string>uni0109.glif</string>
    <key>uni010A</key>
    <string>uni010A_.glif</string>
    <key>uni010B</key>
    <string>uni010B_.glif</string>
    <key>uni010C</key>
    <string>uni010C_.glif</string>
    <key>uni010D</key>
    <string>uni010D_.glif</string>
    <key>uni010E</key>
    <string>uni010E_.glif</string>
    <key>uni010F</key>
    <string>uni010F_.glif</string>
    <key>uni0110</key>
    <string>uni0110.glif</string>
    <key>uni0111</key>
    <string>uni0111.glif</string>
    <key>uni0112</key>
    <string>uni0112.glif</string>
    <key>uni0113</key>
    <string>uni0113.glif</string>
    <key>uni0114</key>
    <string>uni0114.glif</string>
    <key>uni0115</key>
    <string>uni0115.glif</string>
    <key>uni0116</key>
    <string>uni0116.glif</string>
    <key>uni0117</key>
    <string>uni0117.glif</string>
    <key>uni0118</key>
    <string>uni0118.glif</string>
    <key>uni0119</key>
    <string>uni0119.glif</string>
    <key>uni011A</key>
    <string>uni011A_.glif</string>
    <key>uni011B</key>
    <string>uni011B_.glif</string>
    <key>uni011C</key>
    <string>uni011C_.glif</string>
    <key>uni011D</key>
    <string>uni011D_.glif</string>
    <key>uni011E</key>
    <string>uni011E_.glif</string>
    <key>uni011F</key>
    <string>uni011F_.glif</string>
    <key>uni0120</key>
    <string>uni0120.glif</string>
    <key>uni0121</key>
    <string>uni0121.glif</string>
    <key>uni0122</key>
    <string>uni0122.glif</string>
    <key>uni0123</key>
    <string>uni0123.glif</string>
    <key>uni0124</key>
    <string>uni0124.glif</string>
    <key>uni0125</key>
    <string>uni0125.glif</string>
    <key>uni0126</key>
    <string>uni0126.glif</string>
    <key>uni0127</key>
    <string>uni0127.glif</string>
    <key>uni0128</key>
    <string>uni0128.glif</string>
    <key>uni0129</key>
    <string>uni0129.glif</string>
    <key>uni012A</key>
    <string>uni012A_.glif</string>
    <key>uni012B</key>
    <string>uni012B_.glif</string>
    <key>uni012C</key>
    <string>uni012C_.glif</string>
    <key>uni012D</key>
    <string>uni012D_.glif</string>
    <key>uni012E</key>
    <string>uni012E_.glif</string>
    <key>uni012F</key>
    <string>uni012F_.glif</string>
    <key>uni0130</key>
    <string>uni0130.glif</string>
    <key>uni0131</key>
    <string>uni0131.glif</string>
    <key>uni0132</key>
    <string>uni0132.glif</string>
    <key>uni0133</key>
    <string>uni0133.glif</string>
    <key>uni0134</key>
    <string>uni0134.glif</string>
    <key>uni0135</key>
    <string>uni0135.glif</string>
    <key>uni0136</key>
    <string>uni0136.glif</string>
    <key>uni0137</key>
    <string>uni0137.glif</string>
    <key>uni0139</key>
    <string>uni0139.glif</string>
    <key>uni013A</key>
    <string>uni013A_.glif</string>
    <key>uni013B</key>
    <string>uni013B_.glif</string>
    <key>uni013C</key>
    <string>uni013C_.glif</string>
    <key>uni013D</key>
    <string>uni013D_.glif</string>
    <key>uni013E</key>
    <string>uni013E_.glif</string>
    <key>uni0141</key>
    <string>uni0141.glif</string>
    <key>uni0142</key>
    <string>uni0142.glif</string>
    <key>uni0143</key>
    <string>uni0143.glif</string>
    <key>uni0144</key>
    <string>uni0144.glif</string>
    <key>uni0145</key>
    <string>uni0145.glif</string>
    <key>uni0146</key>
    <string>uni0146.glif</string>
    <key>uni0147</key>
    <string>uni0147.glif</string>
    <key>uni0148</key>
    <string>uni0148.glif</string>
    <key>uni014C</key>
    <string>uni014C_.glif</string>
    <key>uni014D</key>
    <string>uni014D_.glif</string>
    <key>uni014E</key>
    <string>uni014E_.glif</string>
    <key>uni014F</key>
    <string>uni014F_.glif</string>
    <key>uni0150</key>
    <string>uni0150.glif</string>
    <key>uni0151</key>
    <string>uni0151.glif</string>
    <key>uni0152</key>
    <string>uni0152.glif</string>
    <key>uni0153</key>
    <string>uni0153.glif</string>
    <key>uni0154</key>
    <string>uni0154.glif</string>
    <key>uni0155</key>
    <string>uni0155.glif</string>
    <key>uni0156</key>
    <string>uni0156.glif</string>
    <key>uni0157</key>
    <string>uni0157.glif</string>
    <key>uni0158</key>
    <string>uni0158.glif</string>
    <key>uni0159</key>
    <string>uni0159.glif</string>
    <key>uni015A</key>
    <string>uni015A_.glif</string>
    <key>uni015B</key>
    <string>uni015B_.glif</string>
    <key>uni015C</key>
    <string>uni015C_.glif</string>
    <key>uni015D</key>
    <string>uni015D_.glif</string>
    <key>uni015E</key>
    <string>uni015E_.glif</string>
    <key>uni015F</key>
    <string>uni015F_.glif</string>
    <key>uni0160</key>
    <string>uni0160.glif</string>
    <key>uni0161</key>
    <string>uni0161.glif</string>
    <key>uni0162</key>
    <string>uni0162.glif</string>
    <key>uni0163</key>
    <string>uni0163.glif</string>
    <key>uni0164</key>
    <string>uni0164.glif</string>
    <key>uni0165</key>
    <string>uni0165.glif</string>
    <key>uni0168</key>
    <string>uni0168.glif</string>
    <key>uni0169</key>
    <string>uni0169.glif</string>
    <key>uni016A</key>
    <string>uni016A_.glif</string>
    <key>uni016B</key>
    <string>uni016B_.glif</string>
    <key>uni016C</key>
    <string>uni016C_.glif</string>
    <key>uni016D</key>
    <string>uni016D_.glif</string>
    <key>uni016E</key>
    <string>uni016E_.glif</string>
    <key>uni016F</key>
    <string>uni016F_.glif</string>
    <key>uni0170</key>
    <string>uni0170.glif</string>
    <key>uni0171</key>
    <string>uni0171.glif</string>
    <key>uni0172</key>
    <string>uni0172.glif</string>
    <key>uni0173</key>
    <string>uni0173.glif</string>
    <key>uni0174</key>
    <string>uni0174.glif</string>
    <key>uni0175</key>
    <string>uni0175.glif</string>
    <key>uni0176</key>
    <string>uni0176.glif</string>
    <key>uni0177</key>
    <string>uni0177.glif</string>
    <key>uni0178</key>
    <string>uni0178.glif</string>
    <key>uni0179</key>
    <string>uni0179.glif</string>
    <key>uni017A</key>
    <string>uni017A_.glif</string>
    <key>uni017B</key>
    <string>uni017B_.glif</string>
    <key>uni017C</key>
    <string>uni017C_.glif</string>
    <key>uni017D</key>
    <string>uni017D_.glif</string>
    <key>uni017E</key>
    <string>uni017E_.glif</string>
    <key>uni0386</key>
    <string>uni0386.glif</string>
    <key>uni0388</key>
    <string>uni0388.glif</string>
    <key>uni0389</key>
    <string>uni0389.glif</string>
    <key>uni038A</key>
    <string>uni038A_.glif</string>
    <key>uni038C</key>
    <string>uni038C_.glif</string>
    <key>uni038E</key>
    <string>uni038E_.glif</string>
    <key>uni038F</key>
    <string>uni038F_.glif</string>
    <key>uni0390</key>
    <string>uni0390.glif</string>
    <key>uni0391</key>
    <string>uni0391.glif</string>
    <key>uni0392</key>
    <string>uni0392.glif</string>
    <key>uni0393</key>
    <string>uni0393.glif</string>
    <key>uni0394</key>
    <string>uni0394.glif</string>
    <key>uni0395</key>
    <string>uni0395.glif</string>
    <key>uni0396</key>
    <string>uni0396.glif</string>
    <key>uni0397</key>
    <string>uni0397.glif</string>
    <key>uni0398</key>
    <string>uni0398.glif</string>
    <key>uni0399</key>
    <string>uni0399.glif</string>
    <key>uni039A</key>
    <string>uni039A_.glif</string>
    <key>uni039B</key>
    <string>uni039B_.glif</string>
    <key>uni039C</key>
    <string>uni039C_.glif</string>
    <key>uni039D</key>
    <string>uni039D_.glif</string>
    <key>uni039E</key>
    <string>uni039E_.glif</string>
    <key>uni039F</key>
    <string>uni039F_.glif</string>
    <key>uni03A0</key>
    <string>uni03A_0.glif</string>
    <key>uni03A1</key>
    <string>uni03A_1.glif</string>
    <key>uni03A3</key>
    <string>uni03A_3.glif</string>
    <key>uni03A4</key>
    <string>uni03A_4.glif</string>
    <key>uni03A5</key>
    <string>uni03A_5.glif</string>
    <key>uni03A6</key>
    <string>uni03A_6.glif</string>
    <key>uni03A7</key>
    <string>uni03A_7.glif</string>
    <key>uni03A8</key>
    <string>uni03A_8.glif</string>
    <key>uni03A9</key>
    <string>uni03A_9.glif</string>
    <key>uni03AA</key>
    <string>uni03A_A_.glif</string>
    <key>uni03AB</key>
    <string>uni03A_B_.glif</string>
    <key>uni03AC</key>
    <string>uni03A_C_.glif</string>
    <key>uni03AD</key>
    <string>uni03A_D_.glif</string>
    <key>uni03AE</key>
    <string>uni03A_E_.glif</string>
    <key>uni03AF</key>
    <string>uni03A_F_.glif</string>
    <key>uni03B0</key>
    <string>uni03B_0.glif</string>
    <key>uni03B1</key>
    <string>uni03B_1.glif</string>
    <key>uni03B2</key>
    <string>uni03B_2.glif</string>
    <key>uni03B3</key>
    <string>uni03B_3.glif</string>
    <key>uni03B4</key>
    <string>uni03B_4.glif</string>
    <key>uni03B5</key>
    <string>uni03B_5.glif</string>
    <key>uni03B6</key>
    <string>uni03B_6.glif</string>
    <key>uni03B7</key>
    <string>uni03B_7.glif</string>
    <key>uni03B8</key>
    <string>uni03B_8.glif</string>
    <key>uni03B9</key>
    <string>uni03B_9.glif</string>
    <key>uni03BA</key>
    <string>uni03B_A_.glif</string>
    <key>uni03BB</key>
    <string>uni03B_B_.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni03BD</key>
    <string>uni03B_D_.glif</string>
    <key>uni03BE</key>
    <string>uni03B_E_.glif</string>
    <key>uni03BF</key>
    <string>uni03B_F_.glif</string>
    <key>uni03C0</key>
    <string>uni03C_0.glif</string>
    <key>uni03C1</key>
    <string>uni03C_1.glif</string>
    <key>uni03C2</key>
    <string>uni03C_2.glif</string>
    <key>uni03C3</key>
    <string>uni03C_3.glif</string>
    <key>uni03C4</key>
    <string>uni03C_4.glif</string>
    <key>uni03C5</key>
    <string>uni03C_5.glif</string>
    <key>uni03C6</key>
    <string>uni03C_6.glif</string>
    <key>uni03C7</key>
    <string>uni03C_7.glif</string>
    <key>uni03C8</key>
    <string>uni03C_8.glif</string>
    <key>uni03C9</key>
    <string>uni03C_9.glif</string>
    <key>uni03CA</key>
    <string>uni03C_A_.glif</string>
    <key>uni03CB</key>
    <string>uni03C_B_.glif</string>
    <key>uni03CC</key>
    <string>uni03C_C_.glif</string>
    <key>uni03CD</key>
    <string>uni03C_D_.glif</string>
    <key>uni03CE</key>
    <string>uni03C_E_.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0410</key>
    <string>uni0410.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni0412</key>
    <string>uni0412.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0415</key>
    <string>uni0415.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni0419</key>
    <string>uni0419.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni041C</key>
    <string>uni041C_.glif</string>
    <key>uni041D</key>
    <string>uni041D_.glif</string>
    <key>uni041E</key>
    <string>uni041E_.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0420</key>
    <string>uni0420.glif</string>
    <key>uni0421</key>
    <string>uni0421.glif</string>
    <key>uni0422</key>
    <string>uni0422.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0425</key>
    <string>uni0425.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni0429</key>
    <string>uni0429.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni042B</key>
    <string>uni042B_.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0430</key>
    <string>uni0430.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0433</key>
    <string>uni0433.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0435</key>
    <string>uni0435.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni0439</key>
    <string>uni0439.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni043D</key>
    <string>uni043D_.glif</string>
    <key>uni043E</key>
    <string>uni043E_.glif</string>
    <key>uni043F</key>
    <string>uni043F_.glif</string>
    <key>uni0440</key>
    <string>uni0440.glif</string>
    <key>uni0441</key>
    <string>uni0441.glif</string>
    <key>uni0442</key>
    <string>uni0442.glif</string>
    <key>uni0443</key>
    <string>uni0443.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0445</key>
    <string>uni0445.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0447</key>
    <string>uni0447.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni0449</key>
    <string>uni0449.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni044B</key>
    <string>uni044B_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni044E</key>
    <string>uni044E_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0451</key>
    <string>uni0451.glif</string>
    <key>uni2013</key>
    <string>uni2013.glif</string>
    <key>uni2014</key>
    <string>uni2014.glif</string>
  </dict>
</plist>
