<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1900</integer>
    <key>capHeight</key>
    <integer>1556</integer>
    <key>copyright</key>
    <string>Copyright 2011 The Roboto Flex Project Authors (https://github.com/googlefonts/roboto-flex). Copyright 2026 The Azrienoch Project Authors.</string>
    <key>descender</key>
    <integer>-500</integer>
    <key>familyName</key>
    <string>Azrienoch</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.1.0</string>
    <key>styleName</key>
    <string>CondensedBlackSerif</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>100</integer>
    <key>xHeight</key>
    <integer>1141</integer>
  </dict>
</plist>
