<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0020</key>
    <string>uni0020.glif</string>
    <key>uni0021</key>
    <string>uni0021.glif</string>
    <key>uni0022</key>
    <string>uni0022.glif</string>
    <key>uni0023</key>
    <string>uni0023.glif</string>
    <key>uni0025</key>
    <string>uni0025.glif</string>
    <key>uni0026</key>
    <string>uni0026.glif</string>
    <key>uni0027</key>
    <string>uni0027.glif</string>
    <key>uni0028</key>
    <string>uni0028.glif</string>
    <key>uni0029</key>
    <string>uni0029.glif</string>
    <key>uni002A</key>
    <string>uni002A_.glif</string>
    <key>uni002B</key>
    <string>uni002B_.glif</string>
    <key>uni002C</key>
    <string>uni002C_.glif</string>
    <key>uni002D</key>
    <string>uni002D_.glif</string>
    <key>uni002E</key>
    <string>uni002E_.glif</string>
    <key>uni002F</key>
    <string>uni002F_.glif</string>
    <key>uni0030</key>
    <string>uni0030.glif</string>
    <key>uni0031</key>
    <string>uni0031.glif</string>
    <key>uni0032</key>
    <string>uni0032.glif</string>
    <key>uni0033</key>
    <string>uni0033.glif</string>
    <key>uni0034</key>
    <string>uni0034.glif</string>
    <key>uni0035</key>
    <string>uni0035.glif</string>
    <key>uni0036</key>
    <string>uni0036.glif</string>
    <key>uni0037</key>
    <string>uni0037.glif</string>
    <key>uni0038</key>
    <string>uni0038.glif</string>
    <key>uni0039</key>
    <string>uni0039.glif</string>
    <key>uni003A</key>
    <string>uni003A_.glif</string>
    <key>uni003B</key>
    <string>uni003B_.glif</string>
    <key>uni003D</key>
    <string>uni003D_.glif</string>
    <key>uni003F</key>
    <string>uni003F_.glif</string>
    <key>uni0040</key>
    <string>uni0040.glif</string>
    <key>uni0041</key>
    <string>uni0041.glif</string>
    <key>uni0042</key>
    <string>uni0042.glif</string>
    <key>uni0043</key>
    <string>uni0043.glif</string>
    <key>uni0044</key>
    <string>uni0044.glif</string>
    <key>uni0045</key>
    <string>uni0045.glif</string>
    <key>uni0046</key>
    <string>uni0046.glif</string>
    <key>uni0047</key>
    <string>uni0047.glif</string>
    <key>uni0048</key>
    <string>uni0048.glif</string>
    <key>uni0049</key>
    <string>uni0049.glif</string>
    <key>uni004A</key>
    <string>uni004A_.glif</string>
    <key>uni004B</key>
    <string>uni004B_.glif</string>
    <key>uni004C</key>
    <string>uni004C_.glif</string>
    <key>uni004D</key>
    <string>uni004D_.glif</string>
    <key>uni004E</key>
    <string>uni004E_.glif</string>
    <key>uni004F</key>
    <string>uni004F_.glif</string>
    <key>uni0050</key>
    <string>uni0050.glif</string>
    <key>uni0051</key>
    <string>uni0051.glif</string>
    <key>uni0052</key>
    <string>uni0052.glif</string>
    <key>uni0053</key>
    <string>uni0053.glif</string>
    <key>uni0054</key>
    <string>uni0054.glif</string>
    <key>uni0055</key>
    <string>uni0055.glif</string>
    <key>uni0056</key>
    <string>uni0056.glif</string>
    <key>uni0057</key>
    <string>uni0057.glif</string>
    <key>uni0058</key>
    <string>uni0058.glif</string>
    <key>uni0059</key>
    <string>uni0059.glif</string>
    <key>uni005A</key>
    <string>uni005A_.glif</string>
    <key>uni005B</key>
    <string>uni005B_.glif</string>
    <key>uni005D</key>
    <string>uni005D_.glif</string>
    <key>uni0061</key>
    <string>uni0061.glif</string>
    <key>uni0062</key>
    <string>uni0062.glif</string>
    <key>uni0063</key>
    <string>uni0063.glif</string>
    <key>uni0064</key>
    <string>uni0064.glif</string>
    <key>uni0065</key>
    <string>uni0065.glif</string>
    <key>uni0066</key>
    <string>uni0066.glif</string>
    <key>uni0067</key>
    <string>uni0067.glif</string>
    <key>uni0068</key>
    <string>uni0068.glif</string>
    <key>uni0069</key>
    <string>uni0069.glif</string>
    <key>uni006A</key>
    <string>uni006A_.glif</string>
    <key>uni006B</key>
    <string>uni006B_.glif</string>
    <key>uni006C</key>
    <string>uni006C_.glif</string>
    <key>uni006D</key>
    <string>uni006D_.glif</string>
    <key>uni006E</key>
    <string>uni006E_.glif</string>
    <key>uni006F</key>
    <string>uni006F_.glif</string>
    <key>uni0070</key>
    <string>uni0070.glif</string>
    <key>uni0071</key>
    <string>uni0071.glif</string>
    <key>uni0072</key>
    <string>uni0072.glif</string>
    <key>uni0073</key>
    <string>uni0073.glif</string>
    <key>uni0074</key>
    <string>uni0074.glif</string>
    <key>uni0075</key>
    <string>uni0075.glif</string>
    <key>uni0076</key>
    <string>uni0076.glif</string>
    <key>uni0077</key>
    <string>uni0077.glif</string>
    <key>uni0078</key>
    <string>uni0078.glif</string>
    <key>uni0079</key>
    <string>uni0079.glif</string>
    <key>uni007A</key>
    <string>uni007A_.glif</string>
    <key>uni00B7</key>
    <string>uni00B_7.glif</string>
    <key>uni2013</key>
    <string>uni2013.glif</string>
    <key>uni2014</key>
    <string>uni2014.glif</string>
  </dict>
</plist>
